@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
:root{
    --primary-color:#002F53;
    --secondary-color:#00949C;
    --accent1-color:#00B0AD;
    --accent2-color:#12C9CA;

    --heading-font:"Sedan Sc";
    --paragraph-font:Georgia,Serif;

    --nav-background-color:#063458d2;
    --nav-link-color:#000000;
    --nav-hover-link-color:#cfe7fc;
    --nav-hover-background-color:#0d4e83b2;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
a{
    text-decoration: none;
}
h1{
    position: absolute;
    align-content: center;
    text-align: center;
    top: 600px;
    left: 400px;
    font-size: 100px;
    background-color: #00949c52;
}
article img{
    float: right;
}
article{
    color: var(--primary-color);
    font-size: 30px;
    background-color: #00949cb0;
}

/* Class Selectors */
.hero{
    position: relative;
    text-align: center;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.socialLogos{
    width: 100px;
    height: 100px;
}
.grid{
    display: grid;
    align-items: center;
}
.nav-grid1{
    margin-left:250px ;
    display: flex;
}
.nav-grid{
    display: flex;
    align-items: center;
    margin-left: 100px;

} 
.header-a{
    color: var(--primary-color);
    width: auto;
    height: auto;
    font-size: 25px;
    margin: 0px;
    padding: 10px;
    border-right: 2px solid #000;
}
.header-a:hover{
    color: var(--secondary-color);
    font-size: 35px;
}
.header-a:last-child{
    padding-left: 15px;
    border-right: none;
}
.first-p-grid{
    width: auto;
    grid-column: 1/2;
}
.second-p-grid{
    width: auto;
    grid-column: 2/3;
}
.social{
    grid-column: 5/6;
} 
.sociallinks{
    float: right;
}
.footer-p{
   grid-column: 4/5; 
   text-align: center;
}
.empl{
    width: 250px;
    height: 200px;
    margin-left: 25px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    margin: 50px;
}
.Employees h1{
    width: auto;
    height: auto;
    margin-bottom: 50px;
}
.block{
    display:block;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    
}
.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.r1{
    width: 152px;
    height: 16px;
    margin-left: 13px;
    background-color: #cfe7fca8;
    border: 1px solid var(--nav-background-color);
}
.r2{
    width: 152px;
    height: 16px;
    background-color: #cfe7fca8;
    border: 1px solid var(--nav-background-color);
}
.r4{
    display: inline;
    width: 200px;
    height: 200px;
}
.MsgSend{
    display: block;
    font-size: 15px;
    font-weight: 700;
    font-family: var(--heading-font);
    width: 170px;
    height: 35px;
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    border-radius: 10px;
}
.MsgSend:hover{
    background-color: var(--accent2-color);
    font-size: 16px;
    width: 175px;
    height: 38px;
    margin-left: 83px;
}
.block4{
    display: inline;
    float: inline-start;
}
.C1:hover{
    color: var(--secondary-color);
}
.Moq{
    font-size: 30px;
    color: var(--primary-color);
}
.Moq:hover{
    color: var(--nav-hover-background-color);
}
.C1{
    position: relative;
    font-size: 50px;
    font-family: var(--heading-font);
    color: var(--primary-color);

}
.CFoot{
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #0000004b;
}