@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
:root{
    --primary-color:#002F53;
    --secondary-color:#00949C;
    --accent1-color:#00B0AD;
    --accent2-color:#12C9CA;

    --heading-font:"Sedan Sc";
    --paragraph-font:Georgia,Serif;

    --nav-background-color:#063458d2;
    --nav-link-color:#000000;
    --nav-hover-link-color:#cfe7fc;
    --nav-hover-background-color:#0d4e83b2;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
a{
    text-decoration: none;
}

article img{
    float: right;
}
article{
    color: var(--primary-color);
    font-size: 30px;
    background-color: #00949cb0;
}

table {
    width: 100%;
    border-collapse: collapse;
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}


/* Class Selectors */
.h1{
    position: absolute;
    align-content: center;
    text-align: center;
    top: 600px;
    left: 400px;
    font-size: 100px;
    background-color: #00949c52;
}
.hero{
    position: relative;
    text-align: center;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.socialLogos{
    width: 100px;
    height: 100px;
}
.grid{
    display: grid;
    align-items: center;
}
.nav-grid1{
    margin-left:250px ;
    display: flex;
}
.nav-grid{
    display: flex;
    align-items: center;
    margin-left: 100px;

} 
.header-a{
    color: var(--primary-color);
    width: auto;
    height: auto;
    font-size: 25px;
    margin: 0px;
    padding: 10px;
    border-right: 2px solid #000;
}
.header-a:hover{
    color: var(--secondary-color);
    font-size: 35px;
}
.header-a:last-child{
    padding-left: 15px;
    border-right: none;
}
.first-p-grid{
    width: auto;
    grid-column: 1/2;
}
.second-p-grid{
    width: auto;
    grid-column: 2/3;
}
.social{
    grid-column: 5/6;
} 
.sociallinks{
    float: right;
}
.footer-p{
   grid-column: 4/5; 
   text-align: center;
}
.empl{
    width: 250px;
    height: 200px;
    margin-left: 25px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    margin: 50px;
}
.Employees h1{
    width: auto;
    height: auto;
    margin-bottom: 50px;
}
.block{
    display:block;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    
}
.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.r1{
    width: 152px;
    height: 16px;
    margin-left: 13px;
    background-color: #cfe7fca8;
    border: 1px solid var(--nav-background-color);
}
.r2{
    width: 152px;
    height: 16px;
    background-color: #cfe7fca8;
    border: 1px solid var(--nav-background-color);
}
.r4{
    display: inline;
    width: 200px;
    height: 200px;
}
.MsgSend{
    display: block;
    font-size: 15px;
    font-weight: 700;
    font-family: var(--heading-font);
    width: 170px;
    height: 35px;
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    border-radius: 10px;
}
.MsgSend:hover{
    background-color: var(--accent2-color);
    font-size: 16px;
    width: 175px;
    height: 38px;
    margin-left: 83px;
}
.block4{
    display: inline;
    float: inline-start;
}
.C1:hover{
    color: var(--secondary-color);
}
.Moq{
    font-size: 30px;
    color: var(--primary-color);
}
.Moq:hover{
    color: var(--nav-hover-background-color);
}
.C1{
    position: relative;
    font-size: 50px;
    font-family: var(--heading-font);
    color: var(--primary-color);

}
.CFoot{
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #0000004b;
}

.col1{
    width: 30%;
    text-align: center;
}
.col2{
    text-align: center;
    width: 15%;
}
.col3{
    width: 15%;
    text-align: center;
}
.col4{
    text-align: center;
}

.imgSize{
    width: 400px;
    height: 300px;
    
}
.csize{
    width: 50px;
}
.nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
.nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
.trips-container{
    display: grid;
    width: auto;
    height: auto;
    margin: 50px;
}
.content1{
    display: inline;
    grid-column: 1/2; 
}
.content2{
    display: inline;
    grid-column: 3/4; 
}
.content3{
    display: inline;
    grid-column: 5/6; 
}
.pcontent1{
    padding-left: 150px;
}
.book-now{
    display: inline;
    margin: 5px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--nav-background-color);
    color: var(--nav-hover-link-color);
    font-family: var(--paragraph-font);
    font-weight: 700;
}
.book-now:hover{
    display: inline;
    margin: 0;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    font-family: var(--paragraph-font);
    font-weight: 700;
}

.form-div{
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    
}
#user-enter{
    padding: 40px;
    background-color: #0003;
    margin: 40px;
    border-radius: 5px;
    border: 1px solid #0005;
    box-shadow:3px 3px 2px 2px rgba(0, 0, 0, 0.226) ;
}
.user-login{
    font-size: larger;
    font-weight: 900;
    margin-left: 55px;
    margin-bottom: 50px;
}
#username{
    margin: 5px;
}
#email{
    margin: 15px;
}
.button-div{
    margin-left: 50px;
}
#user-button{
    width: 125px;
    height: 28px;
    margin: 1px;
    border-radius: 5px;
    border: none;
    font-size: medium;
    background-color: var(--nav-background-color);
    color: var(--nav-hover-link-color);
}
#user-a-but{
    color: var(--nav-hover-link-color);
}
#user-a-but:visited{
    color: var(--nav-hover-link-color);
}
#user-a-but:hover{
    color: var(--nav-hover-link-color);
}
#user-button:hover{
    width: 135px;
    height: 30px;
    margin: 0;
    border-radius: 5px;
    border: none;
    font-size: large;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}
#q1-l{
    font-weight: 700;
    margin-right: 2px;
}
#q2-l{
    font-weight: 700;
}
#q1{
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.178);
}
#q2{
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.178);
}

.call-to{
    display: flex;
    justify-content: center;
    text-align: center; 
}
.call-to-div{
    display: flex;
    
}
#call-to{
    background-color: var(--nav-background-color);
    border-radius: 50px;
    text-decoration: none;
    color: var(--nav-hover-link-color);
    font-size: 15px;
    font-weight: 800;
    padding: 35px;  
    margin: 60px;
}

#call-to:hover{
    background-color: var(--nav-hover-background-color);
    text-decoration: none;
    color: var(--nav-hover-link-color);
    font-size: large;
    font-weight: 800;  
    padding: 48px;   
    margin: 45px;
}
.img-add{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 100px;
}

.img-grid1{
    display: inline;
    grid-column: 1/2;
    
}
.img-grid2{
    display: inline;
    grid-column: 2/3;

}