@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

body{
    font-family: var(--paragrap-font);
    max-width: 960px;
    padding: 20px;
}
:root{
    --primary-color:#002F53;
    --secondary-color:#00949C;
    --accent1-color:#00B0AD;
    --accent2-color:#12C9CA;

    --heading-font:"Sedan Sc";
    --paragraph-font:Georgia,Serif;

    --nav-background-color:#063458d2;
    --nav-link-color:#000000;
    --nav-hover-link-color:#cfe7fc;
    --nav-hover-background-color:#0d4e83b2;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-hover-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.logosize{
    width: 200px;
    height: 200px;
}